@keyframes example1 {
  from {background-color: black;}
  to {background-color: #44eb4a;}
}

@keyframes example2
{
  from {color: black;}
  to {color: #44eb4a;}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 1000% 1000%;
	animation: gradient 10s ease infinite;
}



h2{
    color: black;
    animation-name: example2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
