altgraph==0.17
attrs==19.3.0
awsebcli==3.18.2
bcrypt==3.1.7
beautifulsoup4==4.9.1
blessed==1.17.9
botocore==1.15.49
bs4==0.0.1
cached-property==1.5.1
cachelib==0.1.1
cement==2.8.2
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.2
docker==4.2.2
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
Flask==1.1.2
Flask-Session==0.3.2
future==0.16.0
google==3.0.0
idna==2.7
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
lxml==4.5.2
macholib==1.14
MarkupSafe==1.1.1
paramiko==2.7.1
pathspec==0.5.9
pycparser==2.20
PyInstaller==3.6
PyNaCl==1.4.0
pyrsistent==0.16.0
python-dateutil==2.8.0
PyYAML==5.3.1
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
soupsieve==2.0.1
spotipy==2.22.1
termcolor==1.1.0
texttable==1.6.2
urllib3==1.24.3
wcwidth==0.1.9
websocket-client==0.57.0
Werkzeug==1.0.1
zipp==3.1.0
