<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style11.css') }}"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style11.css') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style6.css') }}">
  <style>

  </style>
</head>
<body>
    <div id=firstDiv>
      <!-- <p></p> -->
      <form class="" method="POST">
        <div class="form-group">
          <label id=label1 for="username">Enter your spotify username:</label>
          <input type="text" class = "form-control" name="user" id = "username" value="">
          <!-- <small id = "help" class = "form-text text-muted">{{data}}</small> -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
</body>
</html>
